snippet docstring "Python function docstring" b
"""
${1:Summary line}

${2:Args}:
    ${3:param1} (${4:type}): ${5:Description of param1}
    ${6:param2} (${7:type}): ${8:Description of param2}

${9:Returns}:
    ${10:type}: ${11:Description of return value}
"""
endsnippet

